@import "variables";

.footer {
  margin-top: 8px;
  box-shadow: -10px 0px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.footer-div {
  padding: 0px 200px;
  font-size: 18px;
  display: flex;
  @include mq(lg) {
    width: 1024px;
  }
  @include mq(md) {
    padding: 0px 100px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
  @include mq(sm) {
    padding: 0px 50px;
    flex-direction: column;
    flex-direction: column-reverse;
  }
}
.footer-nav {
  width: 200px;
  &__title {
    padding: 55px 0px 24px 8px;
    font-weight: bold;
  }
  &__li {
    padding: 16px 8px;
  }
}

.footer-log {
  width: 100%;
  text-align: center;
  &__img {
    margin: auto;
    padding-top: 40px;
    width: 162px;
  }
}

.footer-copyright {
  font-size: 12px;
  text-align: center;
  padding: 8px 0px 16px;
}
