@import "variables";

// Heder - Desktop
@include mq(lg) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    &__img {
      margin: 32px;
      height: 56px;
    }
    &__leftmenu {
      font-size: 16px;
      margin-right: 16px;
    }
    &__rightmenu {
      margin-left: auto;
    }

    %__button {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      padding: 12px 16px;
    }

    &__button {
      &--fill {
        @extend %__button;
        background-color: $mainColor;
        color: $baseColor;
        margin-right: 16px;
      }
      &--white {
        @extend %__button;
        background-color: $baseColor;
        color: $mainColor;
        border: $mainColor 1px solid;
        margin-right: 24px;
      }
    }
  }
}

@include mq(md) {
  div.header-desktop {
    display: none;
  }

  .header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
  }

  /*ドロワー*/
  .header-mobile {
    position: relative;
    // inputのcheckboxは非表示
    &__checkbox {
      display: none;
    }
    // ハンバーガーアイコン
    &__icon {
      cursor: pointer;
      display: block;
      width: 80px;
      height: 80px;
      position: fixed;
      right: 0;
      // ハンバーガーアイコンの中の線
      &-parts,
      &-parts:before,
      &-parts:after {
        background-color: $mainColor;
        display: block;
        width: 32px;
        height: 3px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      &-parts:before,
      &-parts:after {
        content: " ";
      }
      &-parts:before {
        top: 16px;
      }
      &-parts:after {
        top: -16px;
      }
    }

    // ドロワーメニュー開いた時のメインエリアを暗く
    &__overlay {
      background: #000;
      opacity: 0;
      pointer-events: none; //ポインタの動作全部無効化
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
    }

    // ドロワーメニュー
    &__menu {
      background: #ffffff;
      color: #000;
      max-width: 100%;
      width: 456px;
      height: 100vh;
      overflow-y: auto; //スクロール
      -webkit-overflow-scrolling: touch; //スクロール（SP）
      position: fixed;
      top: 0;
      right: -456px;
    }

    // メニュー内のロゴ
    &__logo {
      width: 456px;
      padding: 114px 0px 80px;
      text-align: center;
    }
    &__logo_img {
      width: 113px;
    }

    &__item {
      text-align: center;
      padding: 0px 0px 48px;
      font-size: 28px;
    }

    // z-indexの指定（1がメインエリア）
    &__icon {
      z-index: 4;
    }
    &__menu {
      z-index: 3;
    }
    &__overlay {
      z-index: 2;
    }

    // チェックが入ったら（アイコンクリックしたら）
    &__checkbox:checked ~ {
      // ハンバーガーアイコン
      .header-mobile__icon {
        .header-mobile__icon-parts {
          background: $subColor;
        }
        .header-mobile__icon-parts:before {
          background: $subColor;
        }
        .lheader-mobile__icon-parts:after {
          background: $subColor;
        }
      }
      // メインエリアを暗くする
      .header-mobile__overlay {
        opacity: 0.3;
        pointer-events: auto; //ポインタの動作デフォルトに戻す
      }
      // メニューをだす
      .header-mobile__menu {
        right: 0;
      }
    }
    // 動きをスムーズに
    &__icon-parts,
    &__icon-parts:after,
    &__icon-parts:before,
    &__overlay,
    &__menu {
      transition: all 0.3s;
    }
  }
}

@include mq(sm) {
  div.header-desktop {
    display: none;
  }

  .header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
  }

  /*ドロワー*/
  .header-mobile {
    position: relative;
    // inputのcheckboxは非表示
    &__checkbox {
      display: none;
    }
    // ハンバーガーアイコン
    &__icon {
      cursor: pointer;
      display: block;
      width: 80px;
      height: 80px;
      position: fixed;
      right: 0;
      // ハンバーガーアイコンの中の線
      &-parts,
      &-parts:before,
      &-parts:after {
        background-color: $mainColor;
        display: block;
        width: 32px;
        height: 3px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
      }
      &-parts:before,
      &-parts:after {
        content: " ";
      }
      &-parts:before {
        top: 16px;
      }
      &-parts:after {
        top: -16px;
      }
    }

    // ドロワーメニュー開いた時のメインエリアを暗く
    &__overlay {
      background: #000;
      opacity: 0;
      pointer-events: none; //ポインタの動作全部無効化
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
    }

    // ドロワーメニュー
    &__menu {
      background: #ffffff;
      color: #000;
      max-width: 100%;
      width: 456px;
      height: 100vh;
      overflow-y: auto; //スクロール
      -webkit-overflow-scrolling: touch; //スクロール（SP）
      position: fixed;
      top: 0;
      right: -456px;
    }

    // メニュー内のロゴ
    &__logo {
      width: 456px;
      padding: 114px 0px 80px;
      text-align: center;
    }
    &__logo_img {
      width: 113px;
    }

    &__item {
      text-align: center;
      padding: 0px 0px 48px;
      font-size: 28px;
    }

    // z-indexの指定（1がメインエリア）
    &__icon {
      z-index: 4;
    }
    &__menu {
      z-index: 3;
    }
    &__overlay {
      z-index: 2;
    }

    // チェックが入ったら（アイコンクリックしたら）
    &__checkbox:checked ~ {
      // ハンバーガーアイコン
      .header-mobile__icon {
        .header-mobile__icon-parts {
          background: $subColor;
        }
        .header-mobile__icon-parts:before {
          background: $subColor;
        }
        .lheader-mobile__icon-parts:after {
          background: $subColor;
        }
      }
      // メインエリアを暗くする
      .header-mobile__overlay {
        opacity: 0.3;
        pointer-events: auto; //ポインタの動作デフォルトに戻す
      }
      // メニューをだす
      .header-mobile__menu {
        right: 0;
      }
    }
    // 動きをスムーズに
    &__icon-parts,
    &__icon-parts:after,
    &__icon-parts:before,
    &__overlay,
    &__menu {
      transition: all 0.3s;
    }
  }
}
