html(lang="ja")
 
  include includes/_head.pug

  body
  
    include includes/_header_in.pug

    a(href="")
      span.adddiary 

    div.cardaria
      a.card(href="")
        div.diary-imgcard
          div.diary-imgcard__photo
            img.diary-imgcard__photo-img(src="../img/home/game1.jpg")
            p.diary-imgcard__gametitle FIFA
            p.diary-imgcard__title 友人と二人で一日中戦った結果……！
          div.diary-imgcard__infomation
            img.diary-imgcard__avatar(src="../img/profile/avatar.png", alt="avatar photos")
            div.diary-imgcard__data
              div.diary-imgcard__name ポッポッポ
              div.diary-imgcard__date 2021/02/11
            div.diary-imgcard__nice
              div Nice! 20

      a.card(href="")
        div.diary-imgcard
          div.diary-imgcard__photo
            img.diary-imgcard__photo-img(src="../img/home/game3.jpg")
            p.diary-imgcard__gametitle スマッシュブラザーズ
            p.diary-imgcard__title スイッチのコントローラーを買ったよ！
          div.diary-imgcard__infomation
            img.diary-imgcard__avatar(src="../img/home/avatar3.jpg", alt="avatar photos")
            div.diary-imgcard__data
              div.diary-imgcard__name ミナ
              div.diary-imgcard__date 2021/01/24
            div.diary-imgcard__nice
              div Nice! 7

      a.card(href="")
        div.diary-card
          div.diary-card__text
            p.diary-card__gametitle PUBG MOILE
            p.diary-card__title 仲間と一緒にドン勝つできました。
          div.diary-card__infomation
            img.diary-card__avatar(src="../img/home/avatar4.jpg", alt="avatar photos")
            div.diary-card__data
              div.diary-card__name ライラ
              div.diary-card__date 2021/02/11
            div.diary-card__nice
              div Nice! 172

      a.card(href="")
        div.diary-imgcard
          div.diary-imgcard__photo
            img.diary-imgcard__photo-img(src="../img/home/game4.jpg")
            p.diary-imgcard__gametitle パズドラ
            p.diary-imgcard__title スマホゲーム用にスマホを買った！
          div.diary-imgcard__infomation
            img.diary-imgcard__avatar(src="../img/home/avatar4.jpg", alt="avatar photos")
            div.diary-imgcard__data
              div.diary-imgcard__name ジョンタイター
              div.diary-imgcard__date 2021/01/24
            div.diary-imgcard__nice
              div Nice! 12

      a.card(href="")
        div.diary-card
          div.diary-card__text
            p.diary-card__gametitle テトリス９９
            p.diary-card__title まだ一度も一番になったことがない…。
          div.diary-card__infomation
            img.diary-card__avatar(src="../img/profile/avatar.png", alt="avatar photos")
            div.diary-card__data
              div.diary-card__name 山田邦夫
              div.diary-card__date 2021/02/11
            div.diary-card__nice
              div Nice! 172

      a.card(href="")
        div.diary-imgcard
          div.diary-imgcard__photo
            img.diary-imgcard__photo-img(src="../img/home/game1.jpg")
            p.diary-imgcard__gametitle パズドラ
            p.diary-imgcard__title スマホゲーム用にスマホを買った！
          div.diary-imgcard__infomation
            img.diary-imgcard__avatar(src="../img/profile/avatar.png", alt="avatar photos")
            div.diary-imgcard__data
              div.diary-imgcard__name ジョンタイター
              div.diary-imgcard__date 2021/01/24
            div.diary-imgcard__nice
              div Nice! 12