doctype html
html(lang="ja")
 
  head
    meta(charset="UTF-8")
    title ゲムフレ - ゲーム専用ソーシャルネットワークサービス
    link(rel="shortcut icon" href="/favicon.com")
    link(rel="apple-touch-icon" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="/android-chrome-256x256.png")

  body

    header.l-header
      div.top-desktop-header-container
        img(src="../img/logo.svg")
        div 料金プラン
        div よくある質問
        div.right
          a.button_fill 新規作成
        div
          a.button_white ログイン 

      div.l-drawer
        input.l-drawer__checkbox#drawerCheckbox(type="checkbox")
        //- <!-- ドロワーアイコン -->
        label.l-drawer__icon(for="drawerCheckbox")
          span.l-drawer__icon-parts
        //- <!-- 背景を暗く -->
        label.l-drawer__overlay(for="drawerCheckbox")
        //- <!-- ドロワーメニュー -->
        nav.l-drawer__menu
          div.l-drawer__logo
            img.l-drawer__logo_img(src="../img/logo_sm.svg")
          ul
            li.l-drawer__item
              a.l-drawer__item-inner(href="/") ログイン
            li.l-drawer__item
              a.l-drawer__item-inner(href="/") 新規アカウント作成
            li.l-drawer__item
              a.l-drawer__item-inner(href="/") よくある質問
            li.l-drawer__item
              a.l-drawer__item-inner(href="/") 問い合わせ


    section.top-section1
      div
        img(src="../img/logo.svg")
      div ゲームフレンド、欲しくないですか？
      div
        a.button_fill_top ▶ 新規アカウント作成
      div
        a.button_white_top ログイン 

    section.top-section2
        div.title-why ゲムフレとは？
        div.title-discription 「 世界中のみんなと協力してゲームをしたい！ 」
        div.title-discription ゲーム専用のソーシャルネットワークサービスです。

    section.top-section3
      figure 
        img(src="../img/top-img1.png", alt="")
        figcaption
          div.title ゲームの種類でフレンドを探そう！
          div.discription 自分と同じゲームをしている人と繋がりたい。ゲームの種類で検索をして、一緒に遊べるフレンドを検索できます。

    section.top-section4
      figure 
        img(src="../img/top-img2.png", alt="")
        figcaption
          div.title 約束をして協力プレイ！！
          div.discription 同じ時間帯にゲームをするフレンドを誘って一緒にゲームをしよう！

    section.top-section3
      figure 
        img(src="../img/top-img3.png", alt="")
        figcaption
          div.title 楽しかったことを皆にシェア！
          div.discription ゲーム日記をつけることができます。皆からコメントを貰って、フレンドを増やそう！

    footer
      div
        nav
          p 規約
          ul
            li 
              a 利用規約
            li 
              a プライバシーポリシー
        nav
          p サポート
          ul
            li 
              a 料金
            li 
              a よくある質問
            li 
              a お問い合わせ
        nav
          p サービス
          ul
            li 
              a 運営会社
            li 
              a 公式ツイッター
      div.img_center
        img(src="../img/logo.svg", alt="")  
      p.copyright © GameFre, Inc.