doctype html
html(lang="ja")
 
  include includes/_head.pug

  body

    include includes/_header.pug

    section.top-introduction
      div
        img.top-introduction__logimg(src="../img/logo.svg")
      div.top-introduction__catchphrase ゲームフレンド、欲しくないですか？
      div.top-introduction__button
        a.top-introduction__button--fill(href="./singup.html") ▶ 新規アカウント作成
      div.top-introduction__button
        a.top-introduction__button--white(href="./login.html") ログイン 

    section.top-massage
        div.top-massage__title-why ゲムフレとは？
        div.top-massage__title-discription 「 世界中のみんなと協力してゲームをしたい！ 」
        div.top-massage__title-discription ゲーム専用のソーシャルネットワークサービスです。

    section.top-detail
      figure.top-detail__figure 
        img.top-detail__figure-img(src="../img/top-img1.png", alt="")
        figcaption.top-detail__figcaption
          div.top-detail__title ゲームの種類でフレンドを探そう！
          div.top-detail__discription 自分と同じゲームをしている人と繋がりたい。ゲームの種類で検索をして、一緒に遊べるフレンドを検索できます。

    section.top-detail
      figure.top-detail__figure_reversai
        img.top-detail__figure-img(src="../img/top-img2.png", alt="")
        figcaption.top-detail__figcaption
          div.top-detail__title 約束をして協力プレイ！！
          div.top-detail__discription 同じ時間帯にゲームをするフレンドを誘って一緒にゲームをしよう！

    section.top-detail
      figure.top-detail__figure
        img.top-detail__figure-img(src="../img/top-img3.png", alt="")
        figcaption.top-detail__figcaption
          div.top-detail__title 楽しかったことを皆にシェア！
          div.top-detail__discription ゲーム日記をつけることができます。皆からコメントを貰って、フレンドを増やそう！

    include includes/_footer.pug