doctype html
html(lang="ja")
 
  include includes/_head.pug

  body

    include includes/_header.pug

    //- login screen
    div.login-form
      div.login-form__logo
        img.login-form__logoimg(src="../img/logo_sm.svg")
      form.mui-form
        div.login-form__title
          legend.login-form__legend ゲムフレにログイン
        div.mui-textfield
          input(type="text" placeholder="info@example.com")
          label ログイン
        div.mui-textfield
          input(type="text" placeholder="password")
          label パスワード
        div.login-form__login
          button.login-form__login-button(type="submit") ログイン

        div.login-form__supplement
          div.login-form__password-forgot 
            a(herf="") パスワードを忘れたら？
          div.login-form__new-account
            a(herf="") 新規アカウント登録はこちら
        
        div.login-other
          div.login-other__title その他のログイン方法
          div
            button.login-other__google Googleアカウント
          div
            button.login-other__twitter Twitterアカウント
          div
          button.login-other__facebook Facebookアカウント

    include includes/_footer.pug