html(lang="ja")
 
  include includes/_head.pug

  body

    include includes/_header_in.pug

    div.profile-img
      a(href="")
        img.profile-img__cover-photo(src="../img/profile/cover.png", alt="cover photos")
        img.profile-img__cover-photoselect(src="../img/profile/photo-select.svg", alt="cover photo select")
      a(href="")
        img.profile-img__avatar-photo(src="../img/profile/avatar.png", alt="avatar photos")
        img.profile-img__avatar-photoselect(src="../img/profile/photo-select.svg", alt="avatar photo select")
    
    div.profile-text 
    
      form.mui-form

        div.profile-text__title
          legend.profile-text__legend プロフィール編集

        div.mui-textfield
          input(type="text" placeholder="あなたの名前を入力")
          label ニックネーム

        div.mui-textfield
          textarea.profile-text__introduction(placeholder="自分をＰＲしましょう。")
          label 自己紹介

        div.mui-radio
          label.profile-text__gender 
            input#optionsRadios1(type="radio" name="optionsRadios" value="option1" checked) 
            | 男性
          label.profile-text__gender
            input#optionsRadios2(type="radio" name="optionsRadios" value="option2")
            | 女性 

        div.profile-text__birthday
          div.profile-text__birthday--year
            div.mui-select
              select
                option YYYY年
                option 2000年
                option 2001年
                option 2002年
                option 2003年
                option 2004年
                option 2005年
              label 生年月日
          div.profile-text__birthday--month
            div.mui-select
              select
                option MM月
                option 01月
                option 02月
                option 03月
          div.profile-text__birthday--day
            div.mui-select
              select
                option DD日
                option 01日
                option 02日
                option 03日

        div.mui-textfield.profile-text__gamename
          input(type="text" placeholder="ゲーム名を入力")
          label プレイしているゲーム

        div.profile-text__timezone
          div.profile-text__timezone--start
            div.mui-select
              select
                option HH:MM
                option 18:00
                option 18:15
              label プレイしている時間帯
          div.profile-text__timezone--end
            div.mui-select
              select
                option HH:MM
                option 18:00
                option 18:15
        div.profile-text__singup
          button.singup-form__singup-button(type="submit")  登録
