doctype html
html(lang="ja")
 
  include includes/_head.pug

  body

    include includes/_header.pug

    div.singup-finish
      div.singup-finish__title ご登録いただき誠に有難うございます。 
      div
        p.singup-finish__massage 先程ご入力いただきましたメールアドレス宛に、登録をご確認させていただくメールを先程に送付いたしました。。お送りしたメールから、本登録の手続きをお願いいたします。
        p.singup-finish__massage また、メールが届かない場合は再度アカウント作成からお試しください。
      
      div.singup-finish__team ゲムフレ運営チーム一同

    include includes/_footer.pug