footer.footer
  div.footer-div
    nav.footer-nav
      p.footer-nav__title 規約
      ul.footer-nav__ul
        li.footer-nav__li 
          a 利用規約
        li.footer-nav__li 
          a プライバシーポリシー
    nav.footer-nav
      p.footer-nav__title サポート
      ul.footer-nav__ul
        li.footer-nav__li 
          a 料金
        li.footer-nav__li 
          a よくある質問
        li.footer-nav__li 
          a お問い合わせ
    nav.footer-nav
      p.footer-nav__title サービス
      ul.footer-nav__ul
        li.footer-nav__li 
          a 運営会社
        li.footer-nav__li 
          a 公式ツイッター

  div.footer-log
    img.footer-log__img(src="../img/logo.svg", alt="")  
  p.footer-copyright © GameFre, Inc.