head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width,initial-scale=1")
  meta(name="robots" content="noindex")
  title ゲムフレ - ゲーム専用ソーシャルネットワークサービス
  link(rel="shortcut icon" href="/favicon.com")
  link(rel="apple-touch-icon" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" href="/android-chrome-256x256.png")