header.header
  div.header-desktop
    img.header-desktop__img(src="../img/logo.svg")
    div.header-desktop__leftmenu
      a 料金プラン
    div.header-desktop__leftmenu
      a よくある質問
    div.header-desktop__rightmenu
      a.header-desktop__button--fill(href="./singup.html") 新規作成
    div
      a.header-desktop__button--white(href="./login.html") ログイン

  div.header-mobile
    input.header-mobile__checkbox#drawerCheckbox(type="checkbox")
    //- <!-- ドロワーアイコン -->
    label.header-mobile__icon(for="drawerCheckbox")
      span.header-mobile__icon-parts
    //- <!-- 背景を暗く -->
    label.header-mobile__overlay(for="drawerCheckbox")
    //- <!-- ドロワーメニュー -->
    nav.header-mobile__menu
      div.header-mobile__logo
        img.header-mobile__logo_img(src="../img/logo_sm.svg")
      ul
        li.header-mobile__item
          a.header-mobile__item-inner(href="./login.html") ログイン
        li.header-mobile__item
          a.header-mobile__item-inner(href="./singup.html") 新規アカウント作成
        li.header-mobile__item
          a.header-mobile__item-inner(href="/") よくある質問
        li.header-mobile__item
          a.header-mobile__item-inner(href="/") 問い合わせ